@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Major+Mono+Display&family=Ojuju:wght@200..800&display=swap');

.App{
  background-color: rgb(26, 35, 65);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  /* font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; */
  font-style: normal;
  color: white;
  text-transform: uppercase;
}

.allQuestions{
  width: 350px;
  /* border: 5px solid white; */
  margin-top: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: center;
}

a:-webkit-any-link {
color: white;
margin: 0px 10px;
}

a:hover {
  color: rgb(47, 206, 206);
  }

.title{
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.game{
  display:flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
  width: 350px;
  height: 100%;
}

.question{
  box-sizing: border-box;
  width: 350px;
  border: 5px solid white;
  border-radius: 25px;
  height: 130px;
  display: flex;
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 10px;   */
  justify-content: center;
  align-items: center;
  font-size-adjust: 80%;
  margin-bottom: 5px;
  padding: 0px 5px;
  font-weight: 700;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  height: 60px;
  width: 350px;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.answer{
  border: 2px solid white;
  border-radius: 15px;
  height: 100%;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size-adjust: 100%;
  background-color: rgb(26, 35, 65);
  color: white;
}

.nextButton{
  font-size: 15px;
  margin: 20px;
}

.showAllQuestions{
  display:block;
  /* flex-direction: column  ;
  justify-content: center;
  align-items: center; */
  width: 350px;
  height: 350px;
  position: relative;
  overflow: auto;
}

#allGames{
  box-sizing: border-box;
  /* border: 5px solid white;  */
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 0px;
}

#rightAnswer{
  color:green
}

#wrongAnswer{
  color:red
}

.moreOptions button{
  width: 70px;
  margin: 10px 10px 0 10px;
}

.addButton{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
}